<div class="form">
  <h1 mat-dialog-title>Create dashboard</h1>
  <svg (click)="dialog.closeAll()" height="24" viewBox="0 0 24 24" width="24">
    <path d="M0 0h24v24H0z" fill="none" />
    <path
      d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"
    />
  </svg>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Dashboard name</mat-label>
      <input matInput placeholder="New dashboard name" formControlName="name" />
      <mat-error>Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select team</mat-label>
      <mat-select formControlName="teamId">
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{ team.name }}
        </mat-option>
      </mat-select>
      <mat-error>Pick a team</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Select template</mat-label>
      <mat-select formControlName="template">
        <mat-option *ngFor="let template of templates" [value]="template.value">
          {{ template.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error>Pick a template</mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button
        mat-flat-button
        color="accent"
        class="btn"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
