.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  width: 70%;
  position: absolute;
  top: 3%;
  left: 15%;
  border-radius: 70px 3px;
  padding: 2% 4% 2% 2.5%;
  color: #414142;
  svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  span {
    margin-top: 3px;
    font-family: "Audiowide", cursive;
    font-size: 1.5em;
  }
  svg,
  span,
  button {
    cursor: pointer;
  }
  nav {
    transition: 0.1s;
    padding: 1em;
  }
  button {
    background: none;
    padding: 0.5em 0.3em;
    font-size: 1em;
    border: none;
    outline: none;
    font-family: "Raleway", sans-serif;
    transition: 0.2s ease-in-out;
    margin-right: 15px;
    color: #414142;
    &:hover,
    &.active {
      font-size: 1.1em;
      font-weight: 700;
      border-bottom: 2px solid #09afa7;
      // color: #009060;
    }
  }
}
