// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$spectre-app-primary: mat-palette($mat-teal);
$spectre-app-accent: mat-palette($mat-teal, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spectre-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$spectre-app-theme: mat-light-theme(
  (
    color: (
      primary: $spectre-app-primary,
      accent: $spectre-app-accent,
      warn: $spectre-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($spectre-app-theme);
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Raleway:wght@300;400;700&display=swap");
/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #0a3d62;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.form {
  padding: 10% 5%;
  z-index: 10;
  background: white;
  h1 {
    text-align: center;
  }

  .pw,
  mat-form-field,
  .btn {
    width: 100%;
  }

  .btn {
    background: #079992;
    color: white;
    border-radius: 1px 80px;
  }
}
